<pre class="pt-5 mt-5" [innerHTML]="prettyResponse"></pre>

<div class="row pt-5 mt-5">
  <input type="text" class="form-control" style="padding:8px;margin:15px auto;width:30%;"
    placeholder="Type to filter the number" [formControl]="filter" />

  <input type="text" class="form-control" style="padding:8px;margin:15px auto;width:30%;"
    placeholder="Type to filter the code" [formControl]="filterCode" />
</div>

<h4>All Results</h4>
<ngx-datatable #table [rows]="tableData" [columns]="columns" [sorts]="[{ prop: 'name', dir: 'desc' }]"
  [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" class="material"
  [scrollbarH]="true" columnMode="force">
  <ngx-datatable-column name="Name"> </ngx-datatable-column>
  <ngx-datatable-column name="Number"> </ngx-datatable-column>
  <ngx-datatable-column name="Ball" [width]="100">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span [ngClass]="{'text-danger': row.ballIncludedInNumber}">{{row.ball}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Date">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.date | date:'MM/dd/yyyy'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern" [width]="100">
    <ng-template let-row="row" ngx-datatable-cell-template>{{row.pattern}}</ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern" [width]="180">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-pattern [pattern]="row.pattern" [showPatternLabel]="false"></app-pattern>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="BallIncludedInNumber">
    <ng-template let-row="row" ngx-datatable-cell-template>{{row.ballIncludedInNumber ? 'Y': 'N'}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<div class="pb-5"></div>

<h4>Pattern vs Probablity</h4>
<ngx-datatable [rows]="getPatternProbability()" [columns]="[{ name: 'Code' }, {name: 'Probability'}]"
  [sorts]="[{ prop: 'probability', dir: 'desc' }]" [headerHeight]="50" [footerHeight]="50"
  rowHeight="auto" [limit]="5" class="material" [scrollbarH]="true" columnMode="force">
</ngx-datatable>
<div class="pb-5"></div>

<h4>Duplicates</h4>
<ngx-datatable [rows]="getDuplicateResults()" [columns]="columns"
  [sorts]="[{ prop: 'name', dir: 'desc' }]" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
  [limit]="10" class="material" [scrollbarH]="true" columnMode="force">
  <ngx-datatable-column name="Name"> </ngx-datatable-column>
  <ngx-datatable-column name="Number"> </ngx-datatable-column>
  <ngx-datatable-column name="Ball"> </ngx-datatable-column>
  <ngx-datatable-column name="Date">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.date | date:'MM/dd/yyyy'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern">
    <ng-template let-row="row" ngx-datatable-cell-template>{{row.pattern}}</ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern" [width]="300">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-pattern [pattern]="row.pattern"></app-pattern>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<div class="pb-5"></div>

<div class="pb-5">
  <h4>Pattern</h4>
  <app-pattern [pattern]="'BCGRTPY'" [showPatternLabel]="true"></app-pattern>
</div>
