<form [formGroup]="radioGroupForm" class="pt-5 mt-5">
  <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="game">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="CASH_FIVE"> Cash Five
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="TWO_STEP"> Two Step
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="ALL_OR_NOTHING"> All or Nothing
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="MEGA_MILLIONS"> Mega Millions
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="POWER_BALL"> Power Ball
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="PICK_4"> Pick 4
    </label>
  </div>
</form>

<div class="row pt-3">
  <div class="form-group col-sm-12 col-md-6">
    <input type="text" class="form-control" placeholder="Type numbers seperated by space to filter"
      [formControl]="filter">
  </div>
  <div class="form-group col-sm-12 col-md-6">
    <input type="text" class="form-control" placeholder="Type to filter the code"
      [formControl]="filterPattern">
  </div>
</div>

<h4>All Results</h4>
<ngx-datatable #table [rows]="tableData" [columns]="coulmns" [sorts]="[{ prop: 'name', dir: 'desc' }]"
  [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" class="material"
  [scrollbarH]="true" columnMode="force">
  <ngx-datatable-column name="Name"> </ngx-datatable-column>
  <ngx-datatable-column name="Number" [width]="200"> </ngx-datatable-column>
  <ngx-datatable-column name="Ball" [width]="50">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span [ngClass]="{'text-danger': row.ballIncludedInNumber}">{{row.ball}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Date" [width]="90">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.date | date:'MM/dd/yyyy'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern" [width]="100">
    <ng-template let-row="row" ngx-datatable-cell-template>{{row.pattern}}</ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern" [width]="220">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-pattern [pattern]="row.pattern" [showPatternLabel]="false"
        [numberChunkWidth]="numberChunkWidth"></app-pattern>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="BallIncludedInNumber" [width]="50">
    <ng-template let-row="row" ngx-datatable-cell-template>{{row.ballIncludedInNumber ? 'Y': 'N'}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<div class="pb-5"></div>

<h4>Pattern vs Probablity</h4>
<ngx-datatable [rows]="patternProbability" [columns]="[{ name: 'Code' }, {name: 'Probability'}]"
  [sorts]="[{ prop: 'probability', dir: 'desc' }]" [headerHeight]="50" [footerHeight]="50"
  rowHeight="auto" [limit]="5" class="material" [scrollbarH]="true" columnMode="force">
</ngx-datatable>
<div class="pb-5"></div>

<h4>Duplicates</h4>
<ngx-datatable [rows]="duplicateResults" [columns]="coulmns" [sorts]="[{ prop: 'name', dir: 'desc' }]"
  [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" class="material"
  [scrollbarH]="true" columnMode="force">
  <ngx-datatable-column name="Name"> </ngx-datatable-column>
  <ngx-datatable-column name="Number"> </ngx-datatable-column>
  <ngx-datatable-column name="Ball"> </ngx-datatable-column>
  <ngx-datatable-column name="Date">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.date | date:'MM/dd/yyyy'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern">
    <ng-template let-row="row" ngx-datatable-cell-template>{{row.pattern}}</ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pattern" [width]="220">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-pattern [pattern]="row.pattern" [numberChunkWidth]="numberChunkWidth"></app-pattern>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<div class="pb-5"></div>

<h4>Odd Numbers Probability</h4>
<pre class="pt-1" [innerHTML]="ls.getPrettyJson(oddNumbersProbablity)"></pre>
