.container {
  display: flex;

  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.item {
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  border-radius: 22px;
}
.badge {
  color: black !important;
}

.selected {
  background-color: #ddd;
}
