<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">ui-ng-lib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/data-entry']" routerLinkActive="active" class="nav-link">Data-Entry</a>
        </li>
      </ul>
    </div>
    <div class="navbar-header navbar-right">
      <a href="http://localhost:4200/#/home" class="nav-link text-white">Local App</a>
    </div>
    <div class="navbar-header navbar-right">
      <a href="https://chennamouli.github.io/ui-ng-lib/#/home" class="nav-link text-white">GitHub App</a>
    </div>
    <div class="navbar-header navbar-right">
      <a href="https://github.com/chennamouli/ui-ng-lib" class="nav-link text-white">GitHub Code</a>
    </div>
  </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">@Copyright: 2020 ui-ng-lib</span>
  </div>
</footer>
